$mobile-width-only: "max-width: 699px";
$tablet-widths: "min-width: 700px";
$desktop-widths: "min-width: 1200px";
$font-family:'Open Sans', Arial, sans-serif;
$retina-width: "min-resolution: 144dpi),
               (min-resolution: 1.5dppx";
