.page-form {

  &__fourth-block {
    position: relative;
    background-color: #f2f2f2;
    padding-top: 112px;
    padding-bottom: 0;
  }

  &__legend--fourth-block {
    padding-top: 15px;
  }

  & input[type="radio"] {
    display: none;
  }

  &__radio-input-label {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 39px;
    padding-left: 70px;
    margin-top: -4px;
    margin-bottom: 40px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: 0;
      border: 10px solid #fff;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 0px 2px #e5e5e5;
    }

    &:hover::before {
      box-shadow: 0 0 0px 2px #283645;
    }

    &:active::before {
      box-shadow: 0 0 0px 2px #d22856;
    }
  }

  & input[type="radio"]:checked + label::before {background-color: #d22856;}
}

@media ($tablet-widths) {

  .page-form {

    &__fourth-block {
      order: 2;
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      background-color: #fff;
      padding: 54px 58px;
      padding-bottom: 14px;
      margin: 0 6.25%;
      margin-bottom: 67px;
    }

    &__legend--fourth-block {
      padding-top: 0px;
      width: 321px;
   }
  }
}

@media ($desktop-widths) {

  .page-form {

    &__fourth-block {
      width: 46.2%;
      margin: 0;
      padding: 54px 58px;
      padding-bottom: 35px;
      box-sizing: border-box;
    }
  }
}
