.research {
  display: none;
}

@media ($tablet-widths) {

  .research {
    display: block;
    font-family: $font-family;
    text-align: center;
    font-size: 0;
    margin-bottom: 94px;
    @include clearfix;

    &__wrapper {
      position: relative;
      display: block;
      height: 280px;
      text-align: left;
      margin: 0 6.25%;
      padding-left: 306px;

      &::before {
        content: '24';
        display: block;
        width: 240px;
        height: 280px;
        position: absolute;
        left: 0;
        font-size: 96px;
        font-weight: bold;
        color: #d22856;
        padding-top: 136px;
        padding-left: 65px;
        background-image: url(../img/icons/icon-timer.svg);
        background-repeat: no-repeat;
        background-position: 40% 0;
        background-size: 240px;
        box-sizing: border-box;
      }
    }

    &__title {
      margin: 0;
      margin-bottom: 15px;
      padding-top: 40px;
      padding-right: 138px;
      font-size: 30px;
      line-height: 36px;
      color: #000;
    }

    &__text {
      margin: 0;
      margin-bottom: 10px;
      min-width: 300px;
      max-width: 450px;
      font-size: 14px;
      line-height: 24px;
      color: #283645;
    }

    &__link {
      font-size: 14px;
      line-height: 24px;
      color: #d22856;

      &:hover {
        color: #283645;
      }

      &:active {
        text-decoration: none;
        color: rgba(40, 54, 69, .3);
      }
    }
  }
}

@media ($desktop-widths) {
  .research {
    background-color: #f2f2f2;
    padding-top: 33px;
    padding-bottom: 67px;
    margin-bottom: 71px;

    &__wrapper {
      margin: 0 auto;
      width: 570px;
      height: 345px;
      padding-left: 376px;

      &::before {
        width: 298px;
        height: 345px;
        font-size: 120px;
        padding-top: 175px;
        padding-left: 80px;
        background-size: 298px;
      }
    }

    &__title {
      line-height: 30px;
      padding-top: 93px;
      margin-bottom: 25px;
      //margin-top: 30px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
      max-width: 529px;
      margin-bottom: 35px;
    }
  }
}
